# macOS
.DS_Store

# Terraform
terraform_code/.terraform/
terraform_code/terraform.tfstate
terraform_code/terraform.tfstate.backup

# Secrets
secrets/

# Backup cv
my-cv-original/

# Dossier code course my-cv
my-cv/node_modules
my-cv/.next%  
